{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$admin_current_location = 'configuration'}
{/block}

{block name="page-title"}{intl d='comment.bo.default' l='Comments'}{/block}

{block name="check-module"}comment{/block}
{block name="check-access"}view{/block}

{block name="main-content"}
    {include file="commons.html" scope="parent"}

    <div class="comments">
        <div id="wrapper" class="container">
            <ul class="breadcrumb">
                <li><a href="{url path='/admin/home'}">{intl d='comment.bo.default' l="Home"}</a></li>
                <li><a href="{url path='/admin/module/comments'}">{intl d='comment.bo.default' l="Comments"}</a></li>
            </ul>

            <div class="general-block-decorator">
                <div class="row">
                    <div class="col-md-12">
                        {include file="include/comments-list.html"}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="title title-without-tabs">
                            {intl d='comment.bo.default' l="Comments requests"}
                        </div>

                        <a href="{url path='/admin/module/comment/request-customer'}"
                           class="btn btn-primary action-btn">
                            <span class="glyphicon glyphicon-envelope"></span> {intl d='comment.bo.default' l='Send comment request emails to customers'}
                        </a>
                        <span class="label-help-block">
                            {intl d='comment.bo.default' l='This will send emails to all customers that ordered and paid products %days day(s) ago, inviting them to comment.' days={config key='comment_request_customer_ttl'}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}

{block name="javascript-initialization"}
    {javascripts file='assets/js/main.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}
{/block}