<section id="comments">
    <div id="comments-content">
        {if $definition->hasRating()}
            {loop type="comment-meta" name="comments-rating" key="{$definition->getRef()}" id="{$definition->getRefId()}"}
                {if $COUNT > 0}
                    {include file="includes/rating-average.html"
                        title={intl l='Our customers say about this product...' d='comment.fo.default'}
                        rating=$RATING
                        count=$COUNT
                    }
                    <hr>
                {/if}
            {/loop}
        {/if}

        <div id="comment-list" class="comment-list" data-ref="{$definition->getRef()}" data-id="{$definition->getRefId()}"></div>
        <hr>
    </div>

    <div id="comments-form">
        <h3 class="block-title">
            {intl d="comment.fo.default" l="Add your comment"}
        </h3>

        <div id="comment-top-message" class="alert hidden"></div>

        {if $definition->isValid()}
            {form name="comment.add.form"}
                <form id="form-add-comment" action="{url path="/comment/add"}" method="post" novalidate>

                    {form_hidden_fields form=$form}

                    {form_field form=$form field="ref"}
                        <input type="hidden" name="{$name}" value="{$definition->getRef()}" />
                    {/form_field}

                    {form_field form=$form field="ref_id"}
                        <input type="hidden" name="{$name}" value="{$definition->getRefId()}" />
                    {/form_field}

                    {if ! $definition->getCustomer()}
                        {form_field form=$form field="username"}
                            <div class="form-group">
                                <label for="{$label_attr.for}">{$label}</label>
                                <input type="text" name="{$name}" id="{$label_attr.for}" class="form-control" {if $required} required{/if}>
                            </div>
                        {/form_field}

                        {form_field form=$form field="email"}
                            <div class="form-group">
                                <label for="{$label_attr.for}">{$label}</label>
                                <input type="email" name="{$name}" id="{$label_attr.for}" class="form-control" {if $required} required{/if}>
                            </div>
                        {/form_field}
                    {/if}

                    {form_field form=$form field="title"}
                        <div class="form-group">
                            <label for="{$label_attr.for}">{$label}</label>
                            <input type="text" name="{$name}" id="{$label_attr.for}" class="form-control" {if $required} required{/if}>
                        </div>
                    {/form_field}

                    {form_field form=$form field="content"}
                        <div class="form-group">
                            <label for="{$label_attr.for}">{$label}</label>
                            <textarea name="{$name}" id="{$label_attr.for}" class="form-control" {if $required} required{/if}></textarea>
                        </div>
                    {/form_field}

                    {if $definition->hasRating()}

                        {form_field form=$form field="rating"}
                            <div class="form-group">
                                <label for="{$label_attr.for}">{$label}</label>
                                <input type="hidden" name="{$name}" id="{$label_attr.for}">
                                <div class="star-rating" data-rating="0" data-editable="true" data-target="#{$label_attr.for}"></div>
                            </div>
                        {/form_field}
                    {/if}

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">{intl d="comment.fo.default" l="Send"}</button>
                    </div>
                </form>
            {/form}
        {else}
            <div class="alert alert-info">{$message}</div>
        {/if}
    </div>
</section>
