{loop type="comment-meta" name="comments-rating" key="product-all" id=0}
    {if $COUNT > 0}
        <hr>
        <section id="comments">
            {include "includes/rating-average.html"
                title={intl l='Our customers say about our products...' d='comment.fo.default'}
                rating=$RATING
                count=$COUNT
            }

            {if {count type="comment" name="count-featured-comments" status="1" featured="true"} > 0}
            <hr>
            <div id="comment-list" class="comment-list" data-featured="true" data-silent-if-empty="true"></div>
            {/if}
        </section>
    {/if}
{/loop}